<html>

  <head>
    <title>Verify your account</title>
  </head>

  <body>
    <div>
      <h3>Dear {{name}},</h3>
      <p>Please use this <a href="{{url}}">link</a> to verify your account.</p>
    </div>

  </body>

</html>