<html>

  <head>
    <title>Verify your account</title>
  </head>

  <body>
    <div>
      <h3>Dear {{name}},</h3>
      <p>Please use below link to verify your account.</p>
      <p><a href="{{url}}">{{url}}</a></p>
    </div>

  </body>

</html>